.lets-start-section {
  margin-top: 3rem;
  background-color: #faf5ec;
min-height: calc(100vh - 48px);

  .container {
    padding-inline: 1rem;
    z-index: -1;
    width: 100%;
    display: flex;
    max-width: 1577px;
   padding-block: 4.3rem;

  }

  .wrapper-50 {
    width: 50%;
    flex: 1 1 0%;
    padding: 2.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .inner-adjust-wrapper {
    max-width: 528px;

  }
 .textual-info{
     font-family: 'freighttextprfreighttextproBk';
      margin: 0px 0px 1.8rem;
    line-height: 1.3;
    font-weight: normal;
    font-size: 1rem;
    color: #221c54;
    }
  .trust-explanation {
    text-align: center;

    h1 {
      font-size: 2.2rem;
      margin: 0px 0px 0.4rem;
      letter-spacing: -0.045rem;
      font-family: 'mark_promedium';
      font-weight: 500;
      line-height: 1.167;
      color: rgb(227, 118, 69);
    }
   
  }

  .d-flex {
    display: flex;
  }

  img {
    height: 37.53px;
    width: 84px;
  }
  .coins{
    height: 50.79px;
    width: 56px;
  }
.spouse{
  height:63.08px; width:69px;
}
  .qualities-features {
    padding-block: 1.9rem;
    width: 100%;
    max-width: 33rem;

    .feat-benefits {
      margin-left: 1rem;
      p{
        margin: 0;
      }
    }

    &:not(:nth-child(4)) {
      border-bottom: 1px solid rgb(238, 223, 197);
    }
    &:nth-child(4) {
     margin-bottom: 30px;
    }

    h3 {
      color: rgb(34, 28, 84);
      margin: 0px 0px 0.2rem;
      font-size: 1.15rem;
      letter-spacing: -0.04rem;
      font-weight: 400;
      line-height: 1.334;
         font-family: 'mark_promedium';

    }

    .picture-icon {
      width: 8rem;
      display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center

    }
  }

  .continue-btn {
    border-radius: 9999px;
    font-family: roboto, sans-serif;
    font-weight: normal;
    font-size: 1.125rem;
    background-color: rgb(34, 28, 84);
    color: rgb(255, 255, 255);
    padding: 0.9rem 1.3rem;
    border: none;
    min-width: 64px;
    width: 100%;
    outline: none;
    svg {
          user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    fill: currentcolor;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(1.5px);
    }
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: rgb(63, 57, 110);
    }
  }
}
@media(min-width :1138px){
.start-right {
  height: 100%;
  background-image: url('/images/family-photo.svg');
  background-size: 44rem;
  background-repeat: no-repeat;
  background-position: center center;
}
.family-photo{
  display: none;
}
.wrapper-50 {
    min-width: 570px;
    min-height: 700px;
  }
}

@media(max-width :1137px){

.family-photo{
  img{

    width: 300px;
    height: auto;
    margin-bottom: 1.3rem
  }
}
.lets-start-section {
  margin-top: 1rem;
  .container {
   padding-block: 2rem;
  }
.container{
  flex-direction: column-reverse;
  align-items: center;
}}}

@media(max-width :992px){
 .lets-start-section .wrapper-50{
    width: 100%;
  }
  .feat-benefits {
    text-align: center;
  }
  .lets-start-section .qualities-features {
justify-content: center;
    flex-direction: column;
    align-items: center;
}
}
@media(max-width :768px){
  .lets-start-section  .start-right{
  display: none;
}
}