.signin-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.signin_form {
    margin: 100px auto auto;
    max-width: 480px;
    width: 100%;
    padding: 24px;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.031372549), 0px 20px 24px -4px rgba(16, 24, 40, 0.0784313725);
    border-radius: 12px;
    .form-floating {
        input {
            height: 45px;
            font-size: 16px;
            line-height: 24px;
                min-height: 44px;
    padding: 5px !important;
    font-size: 12px !important;
            color: #000;
            &:focus{
                box-shadow:unset;
            }
        }
        + label{
            color: #323941;
        }
    }
    .form_header {
        h1 {
            //    font-family: Jost;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 16px;
    color: #101828;

        }

        p {
             font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
    color: #000000;
    text-align: center;
        }

    }

    .form-group  {
        .form-label {
            color: #000000;
        }

        .input-control {
          height: 56px;
          border-radius: 10px;
          padding-inline: 17px;
          color: #000000;
          font-size: 16px;
        }
    }
    .login {
        gap: 0 10px;
        margin-bottom: 16px;
        .login--checkbox {
            width: 18px;
            height: 18px;
        }
        .login__keep {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            cursor: pointer;
            color: #1B1B1B;
        }
    }
    .signin_btn {
        background-color: #1572e8;
        padding: 11px 0px;
        border-radius: 10px;
        margin-bottom: 14px;
        border: 1px solid #1572e8;
        margin: 16px 0 0 0;

        &:hover {
            background-color: #1572e8;
            border: 1px solid #1572e8;
        }
    }
}
.btn-forgot {
    display: block;
    text-align: center;
    color: #232323;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
.signin--bottom{
    a{

        font-size: 13px !important;
        text-decoration: underline !important;
    }
}
a.btn-forgot {
    letter-spacing: 0px;
    color: #595959;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
        margin-top: 9px;
}
.authSwitch{
    background-color: #EDEEEF;
    border-radius: 10px;
    max-width: 300px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 3px;
    button{
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 125%;
        text-align: center;
        color: #000;
        border: none;
        height: 30px;
        min-width: 145px;
        &.active{
            background-color: #FFFFFF;
        }
    }
}
