.promise-section {
    padding: 0 60px;
    background-color: #f9f5ed;
  
    .custome-container {
      max-width: 1100px;
      margin: 0 auto;
    }
  
    .promise-container {
      height: 575px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .left-column,
      .right-column {
        max-width: 550px;
        width: 100%;
      }
      .right-column{
        padding-left: 75px;
        .generic-description{
          margin-right: 12px;
        }
      }
      .left-column {
        height: 100%;
        position: relative;
  
        .book {
          position: absolute;
          // width: 224px;
          // height: 292px;
          right: 117px;
          top: 50%;
          transform: rotate(0deg) translateY(-50%);
          transition: transform 0.8s ease, top 0.8s ease;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
  
        .book-1 {
          width: 297px;
          height: 315px;
          z-index: 1; 
        }
        .book-2 {
          right: 141px;
          width: 235px;
          height: 315px;
          z-index: 2; 
        }
        .book-3 {
          width: 235px;
          height: 322px;
          right: 135px;
          z-index: 3; 
        }
        .book-4 {
          height: 316px;
          width: 255px;
          right: 130px;
          z-index: 4; 
        }
      }
    }
  
    &.animate {
      .left-column {
        .book-1 {
          transform: rotate(-12deg) translateX(-102px);
          top: 113px;
        }
  
        .book-2 {
          transform: rotate(-2deg) translateX(-50px);
          top: 126px;
        }
  
        .book-3 {
          transform: rotate(8deg) translateX(0px);
          top: 22%;
        }
  
        .book-4 {
          transform: rotate(18deg) translateX(25%);
          top: 123px;
        }
      }
    }
  
  }
  


  @media screen and (max-width: 1050px) {
    .promise-section{
      padding: 8px 60px 42px 60px;
        .promise-container{
            height: 700px;
            flex-direction: column;
            .right-column,
            .left-column{
                width: 100%;
                max-width: 650px;
                margin: 0 auto;
                justify-content: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding-left: 0;
            }
            .left-column{
              height: 370px;  
            }
            .right-column{
              .generic-label{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
              }
              .generic-description{
                margin-right: 0;
              }
            }
            .left-column{
                .book{
                  top: 45%;
                  right: 33%;
                }
                .book-1 {
                  width: 205px;
                  height: 283px;
                }
                .book-2 {
                  width: 205px;
                  height: 282px;
                }
                .book-3 {
                  width: 205px;
                  height: 282px;
                }
                .book-4 {
                  height: 275px;
                  width: 205px;
                }
            }
        }
    }
    .animate{
      .promise-container{
        .left-column{
            .book{
              top: 10%;
              right: 178px;
            }
            .book-1{
              transform: rotate(-12deg) translateX(-96px);
              top: 21px;
            }
            .book-2{
              transform: rotate(-2deg) translateX(-48px);
              top: 35px;
              right: 175px;
              height: 281px;
            }
            .book-3{
              transform: rotate(8deg) translateX(0px);
              top: 38px;
              right: 173px;
              height: 283px;
            }
            .book-4{
              transform: rotate(18deg) translateX(25%);
              right: 174px;
            }
        }
      }
    }
}
  @media screen and (max-width: 900px) {
    
    .animate{
      .promise-container{
        height: 685px;
        .left-column{
          height: 360px;
            .book{
              width: 195px;
            }
            .book-1{
              top: 12px;
              right: 170px;
            }
            .book-2{
              top: 26px;
              right: 169px;
            }
            .book-3{
              top: 29px;
              right: 169px;
            }
            .book-4{
              top: 29px;
              right: 170px;
            }
        }
        .right-column{
          .generic-label{
            font-size: 15px;
            &::after{
              margin: 7px 0;
            }
          }
          .generic-heading{
            font-size: 28.6px;
          }
        }
      }
    }
}
@media screen and (max-width: 786px) {
    .promise-section{
        padding: 30px;
        .promise-container{
          .left-column{
            .book{
              right: 30%;
            }
          }
        }
    }
    .animate{
      .promise-container{
        .left-column{
            .book{
              top: 10%;
              right: 25%;
            }
        }
      }
    }
}
@media screen and (max-width: 576px) {
  .promise-section{
    .promise-container{
      .left-column{
        .book-1 {
          right: 22%;
          width: 175px;
          height: 234px;
        }
        .book-2 {
          right: 23%;
          width: 175px;
          height: 241px;
        }
        .book-3 {
          right: 24%;
          width: 174px;
          height: 241px;
        }
        .book-4 {
          right: 25%;
          height: 242px;
          width: 174px;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
    .promise-section{
        .promise-container{
          .left-column{
            .book{
              right: 22% !important;
            }
          }
        }
    }
    .animate{
        .promise-container{
          .left-column{
            
            .book-1{
              right: 20% !important;
              top: 7%;
            }
            .book-2{
              right: 15%;
              transform: rotate(-2deg) translateX(-42px);
            }
            .book-3,
            .book-4{
              right: 16%;
            }
          }
        }
    }
}