@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.works-container {
    margin-left: auto;
    margin-right: auto;
    // max-width: 1100px;
    max-width: 910px;

}

.works-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 24px;
}

.works-img-sec {
    width: 75px;
    height: 75px;
    margin: 0 auto;
}
.separator {
    display: flex;
    align-items: center;
    padding: 8px 0;
    position: relative;
}

.separator p {
    width: 25px;
    margin: 0 auto;
    opacity: 1;
    background-color: #a6a4ba !important;
    display: inline-block;
    height: 1px;
}

.works-img-sec img {
    width: 100%;
    height: 100%;
}

.works-sec {
    text-align: center;
}

.works-sec {
    // padding: 85px 0;
    padding: 88px 0;
    background-color: #FFFFFF;
}

.works-block {
    border: 1px solid #6156BB;
    border-radius: 1rem;
    box-shadow: 3px 3px 0px rgba(97, 86, 187, 0.3);
    padding: 34px 24px;
    flex-basis: 100%;
    height: 242px;
}

.works-img-sec svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-desc-sec h3 {
    font-size: 22px;
        line-height: 1.235;
    margin: 16px 0 9px;
    color: #221C54;
    font-weight: 400;
    font-family: 'mark_promedium';
        letter-spacing: -0.64px;
}

.work-desc-sec p {
    color: #221C54;
    font-size: 16px;
    font-family: 'freighttextprfreighttextproBk';
    font-weight: 400;
    line-height: 1.4;
}

.works-title h2 {
    font-size: 32px;
    color: #221C54;
    font-family: 'mark_promedium';
    font-weight: 400;

    line-height: 42px;
}

.works-title {
    margin-bottom:55px;
}

.works-title h5 {
        font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #221C54;
    margin: 0;
    line-height: 1.35;
}

@media(max-width:1024px) {
    .works-row {
        flex-wrap: wrap;
        gap: 24px;

        .works-block {
            flex-basis: 45%;
        }

        .work-desc-sec p {
            padding-inline: 7px;
        }
    }
}

@media(max-width:768px) {
    .works-container {
        padding-inline: 10px;
    }

    .works-row {
        flex-direction: column;

        .works-block {
            flex-basis: 100%;
            max-width: 300px;
            padding: 47px 6px;
        }
    }
   
}

@media(max-width:575px) {
    .works-title h2{
        font-size: 28px;
        line-height: 35px;
    }
    .works-title{
        margin-bottom: 30px;
    }
}