.collaboration {
    background-color: #FAF5EC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 20px 85px;
    height: 484px;
  
    .inner-container {
      position: relative;
    }
  
    .image-container {
      position: absolute;
      top: -14px;
      padding-right: 1px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    .content-column {
      margin-top: 90px;
      background-color: #ffffff;
      border-radius: 16px;
      padding:38px 43px 42px;
      text-align: center;
      width: 775px; 
      border: 1px solid #EEDFC5;
      box-shadow: 3px 3px 0px rgba(221, 197, 156, 0.3);
      .inner-text{
          padding-top: 22px;
          margin: 0 auto;
          max-width: 480px;
      }
      .heading {
            font-size: 28px;
            letter-spacing: -1px;
            margin-bottom: 8px;
        }
      .description {
          margin: 0;
          padding-bottom: 0;
      }
    }
  }
  

  @media screen and (max-width: 1050px) {
    .collaboration{
      .inner-container{
        width: calc(100% - 40px);
        .content-column{
          width: 100%;
        }
      }
    }
  }