.reset-main {
  padding: 128px 16px;
  display: flex;
  background-color: #FAF5EC;
  justify-content: center;
  height: 100vh;

}

.reset-heading {
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px !important;
  line-height: 40px;
}

.heading p {
  color: rgb(34, 28, 84);
  font-size: 16px;
  line-height: 1.3;
  font-weight: normal;
  font-family: 'freighttextprfreighttextproBk';
  margin: 16px 0 0 0;
  text-align: center;
}

.reset-form-container {
  width: 536px;
  background: #ffffff;
  border-radius: 4px;
  padding: 48px 40px;
  margin-bottom: 28px;
  max-width: 100%;
}

.heading {
  margin-bottom: 32px;
}

.reset-actions {
  text-align: center;
}

.btn-submit--default {
  max-width: 150px;
  height: 40px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border-radius: 9999px;

  &.btn-disabled {
    background-color: rgba(0, 0, 0, 0.12);
    border: 1px solid rgb(207, 202, 206);
    color: rgb(207, 202, 206);
  }
  &.btn-submit{
    background-color: #8E89A0;
    border: 1px solid #8E89A0;
    color: #fff;
  }
}

.remember-password {
  text-align: center;

  a {
    text-decoration: none;
    color: rgb(34, 28, 84);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 9px;
    line-height: 19px;

    &:hover {
      background-color: rgba(34, 28, 84, 0.05);
    }
  }
}

.reset-main {
  .signin__form-floating-wrapper {
    margin: 14px 0 44px auto;
  }
}

.form-floating {
  position: relative;
  max-width: 100%;
  margin-bottom: 20px !important;

  input,
  textarea,
  select {
    width: 100%;
    border: none;
    height: 50px;
    min-height: 50px;
    padding: 19px 0 7px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    background: #fff;
    outline: none;
    border-radius: 0;

    &::placeholder {
      color: transparent;
    }

  }

  input,
  textarea {
    &:hover {
      border-bottom: 2px solid #1f204a;
    }

    &:focus {
      border-bottom: 2px solid #1f204a;
      box-shadow: none;
    }
  }

  label {
    position: absolute;
    top: 28px;
    color: #6b6473;
    height: 30px;
    font-size: 17px;
    pointer-events: none;
    background: transparent;
    padding: 0;
    letter-spacing: -0.32px;
    transition: 0.2s ease all;
    font-family: "Roboto", sans-serif;
  }

  input:focus+label,
  input:not(:placeholder-shown)+label,
  textarea:focus+label,
  textarea:not(:placeholder-shown)+.label {
    top: 3px;
    font-size: 14px;
    color: #1f204a;
    left: -3px;
  }

  select:focus+label {
    top: -4px;
    font-size: 14px;
    color: #1f204a;
    left: 10px;
  }

  input::placeholder,
  textarea::placeholder {
    color: transparent;
  }
}

@media (max-width:576px){
  .reset__container {
    max-width: 36rem;
    width: 100%;
  }
}