.gap-8{
  gap: 8px;
}
.global--pagination {
  border: 0;
  padding-block-end: 15px;
  .form-select{
    background-color: #fff !important;
    cursor: pointer;
  }
  .page-item {
    margin: 0 8px;

    .page-link {
      border: 0;
      font-size: 16px;
      border-radius: 6px;
      color: #1E1E1E;
      padding: 4px 12px;
      background: transparent;
      &:hover {
        background-color: #F5F5F5;
      }
    }

    &.active {
      .page-link {
        background-color:#7428F2 ;
        color: #fff;

        &:hover {
          background-color: #4A22BD;
        }
      }
    }
     &.disabled {
      cursor: not-allowed;
      .page-link {
          background-color: transparent;
          color: #757575;
        }
        img{
          // filter: brightness(0) saturate(100%) invert(52%) sepia(0%) saturate(3568%) hue-rotate(92deg) brightness(95%) contrast(98%);
        }
    }

    &:first-child img {
      transform: rotate(180deg);
    }
  }
}

.pagination-actions {
  width: 12px;
  height: 12px;
}

.pagination--select {
  width: 75px;
}
.data-list--pagination{
  .pagination {
    flex: 1;
  }
  .record-counter{
    display: flex;
    align-items: center;
    height: 46px;
    font-weight: 500;
    color: #202020;
  }
}