@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.home-banner {
    padding-top: 122px;
    background-color: #FAF5EC;
    position: relative;
    padding-bottom: 160px;
}

.home-banner .container {
    min-height: 450px;
}

.banner-img-top {
    text-align: center;
    max-width: 607px;
    animation: slideUpDown 4s ease-in-out infinite;

    height: 88px;
    margin: 0 auto;
}

.banner-img-top img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner_images-main div {
    display: inline-block;
}

.banner-img-1 {
    top: 24.8%;
    left: 7.5%;
    position: relative;
}

.banner-img-2 {
    top: 45.1%;
    left: -10%;
    position: relative;
}



.banner_images-main {
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    max-width: 1100px;
}


.banner-img-3 {
    top: 32.8%;
    left: -26%;
    position: relative;
}

.banner-img-4 {
    top: 21%;
    position: relative;
    left: 53%;
}

.banner-img-5 {
    top: 31%;
    left: 51%;
    position: relative;
}

.banner-img-6 {
    top: 34%;
    left: 30%;
    position: relative;
}

@keyframes slideUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    /* Moves slightly up */
    100% {
        transform: translateY(0);
    }
}

.banner__content-sec {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.banner__content-sec h1 {
    font-size: 65px;
    color: #221C54;
    font-weight: 400;
    letter-spacing: -0.075rem;
    line-height: 1.1;
    font-family: 'mark_promedium';
    font-size: 4.1rem;
}

.banner__content-sec h2 {
    margin: 0 auto;
    font-weight: 400;
    padding-top: 16px;
    max-width: 480px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
        font-family: 'freighttextprfreighttextproBk';
            color: #221C54;
}

.rating--block a {
    text-decoration: none;
}

.rating--block-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4e4976;

}

.rating--block-inner h6 {
    font-size: 12px;
    margin: 0;
    font-weight: 500;
    line-height: 1.6;
    margin-left: 0.35rem;
    margin-right: 0.35rem;
    font-family: "Roboto", sans-serif;
}

.rating--block {
    margin: 14px 0;
}

.rating--block-inner img {
    width: 52px;
    height: 17px;
}

.rating {
    font-size: 12px;
    color: #4e4976;
    cursor: pointer;
    gap: 4px;
    display: flex;
}

.rating-sec {
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
}


.banner-screen-sec {
    position: absolute;
    height: 345px;
    width: 660px;
    right: 236px;
    bottom: 59px;
}

.banner-screen-sec img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}




.logo-block {
    width: 183px;
    height: 69px;
}
.logo-block:nth-child(2) {
    height: 57px;
}

.logo-block:last-child {
    height: 64px;
}

.logo-block:nth-child(4) {
    height: 68px;
}

.logo-block img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logos-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feartures-logos {
    background-color: #F1E7D5;
    padding: 2px 0;
}

.mob-actions {
    display: none;
    flex-direction: column;
    gap: 20px 0;
}

.mob-actions a {
    border: 1px solid #6156BB;
    border-radius: 100px;
    width: 100%;
    box-shadow: 3px 3px 0px rgba(97, 86, 187, 0.3);
    background-color: #fff;
    padding: 6px;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #221C54;
    gap: 1px 10px;
}

@media(max-width:1700px) {
    .banner-screen-sec {
        right: 0;
    }
}

@media(max-width:1440px) {
    .banner-screen-sec {
        right: 0;
    }
}

@media(max-width:1199px) {
    .banner-screen-sec {
        display: none;
    }

    .home-banner {
        overflow: hidden;
        padding: 100px 0 145px 0;
    }

    .banner-img-5 {
        left: 56%;
        top: 29%;
    }

    .banner-img-4 {
        left: 59%;
    }

    .banner-img-6 {
        top: 32%;
        left: 36%;
    }

    .banner-img-1 {
        top: 25%;
        left: 7.5%;
    }

    .banner-img-3 {
        top: 33%;
        left: -31%;
        // position: relative;
    }

    .banner-img-2 {
        top: 45%;
        left: -14%;

    }

    .home-banner .container {
        min-height: unset;
    }

    .banner_images-main {
        display: none;
    }
}

@media(max-width:768px) {
    .banner__content-sec {
        max-width: 600px;

        h1 {
            font-size: 48px;
        }
    }

    .banner-screen-sec {
        display: block;
        position: unset;
        margin-top: 40px;
        width: 100%;
    }

    .mob-actions {
        display: flex;
        margin-top: 1.5rem;
        width: 100%;
        max-width: 360px;
        margin: 24px auto 0 auto;
    }
    .home-banner{
        padding: 100px 0 100px 0;
    }
    .banner-img-top{
        display: none;
    }
}