/* ========= BASE STYLES (Desktop) ========= */
.incapacity-section {
    padding: 104px 60px;
    background-color: rgb(250, 245, 236);
  
    .custome-container {
      max-width: 1100px;
      margin: 0 auto;
    }
  
    .incapacity-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .left-column,
    .right-column {
      width: 50%;
    }
    .left-column{
      padding-right: 32px;
    }
    .right-column{
      padding-left: 32px;
    }
    .incapacity-map {
      width: 440px;
      height: 340px;
      margin: 0 auto;
      padding-right: 32px;
  
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .btn--link{
      margin-top: 28px;
    }
  }
  @media screen and (max-width: 1050px) {
    .incapacity-section {
      .incapacity-container {
        flex-direction: column-reverse;
  
        .left-column,
        .right-column {
          width: 100%;
          max-width: 650px;
          margin: 0 auto;
          justify-content: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
  
        .right-column {
          margin-bottom: 48px;
        }
        .left-column{
          padding-right: 0;
          .description{
            margin-right: 0;
          }
        }
        .label {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
  
      .incapacity-map {
        width: 100%;
        height: auto;
        max-width: 405px;
        padding: 0 35px 0 0;
        box-sizing: border-box;
      }
    }
  }
  
  @media screen and (max-width: 900px) {
    .incapacity-section{
      .right-column{
        .incapacity-map{
          max-width: 360px;
        }
      }
      .left-column{
        .heading{
            font-size: 29px;
        }
      }
    }
  }
    @media screen and (max-width: 786px) {
    .incapacity-section {
      padding: 96px 32px;
    }
  }
    