.pricing-page-container{
    padding-top: 64px;
    .will-delivery{
        padding: 20px 20px 30px;
        height: 504px;
    }
    .pricing-sec{
        overflow: hidden;
        position: relative;
        padding: 68px 68px 97px;
        .banner_images-main{
            display: flex;
        }
        .banner_images-main {
            top: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 100%;
            position: absolute;
            max-width: 1100px;
        }
        .banner-img-top {
            text-align: center;
            max-width: 607px;
            animation: slideUpDown 4s ease-in-out infinite;
            
            height: 88px;
            margin: 0 auto;
        }
        
        .banner-img-top img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        
        .banner_images-main div {
            display: inline-block;
        }
        
        .banner-img-1 {
            top: 13.2%;
            left: 1%;
            position: relative;
        }
        
        .banner-img-2 {
            top: 30.1%;
            left: -16%;
            position: relative;
        }
        
        
        
        
        
        
        .banner-img-3 {
            top: 21.5%;
            left: -35%;
            position: relative;
        }
        
        .banner-img-4 {
            top: 9.8%;
            position: relative;
            left: 55.7%;
        }
        
        .banner-img-5 {
            top: 16.5%;
            left: 57.2%;
            position: relative;
        }
        
        .banner-img-6 {
            top: 21.2%;
            left: 30%;
            position: relative;
        }
        .pricing-container{
            .cards-row{
                position: relative;
                z-index: 2;
            }
        }
    }
    .joint-will-section{
        padding: 80px 60px;
    }
}




@media screen and (max-width: 1024px){
    .pricing-page-container{
        .pricing-sec{
            padding-left: 6%;
            padding-right: 6%;
            .banner_images-main{
                display: none;
            }
        } 
    } 
}
@media screen and (max-width: 768px){
    .pricing-page-container{
        padding-top: 54px;
    } 
}