/* ========= BASE STYLES (Desktop) ========= */
.updated-section {
    padding: 80px 60px;
    background-color: #ffffff;
  
    .custome-container {
      max-width: 1100px;
      margin: 0 auto;
    }
  
    .updated-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .left-column,
    .right-column {
      width: 50%;
    }
    .right-column{
      padding-left: 32px;
    }
    .updated-map {
      width: 337px;
      height: 270px;
      margin: 0 auto; // center image in column
  
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .generic-label{
      line-height: 21px;
    }
  }
  @media screen and (max-width: 1050px) {
    .updated-section {
      .updated-container {
        flex-direction: column;
  
        .left-column,
        .right-column {
          width: 100%;
          max-width: 650px;
          margin: 0 auto;
          justify-content: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
  
        .left-column {
          margin-bottom: 48px;
          .updated-map{
            max-width: 347px;
          }
        }
        .right-column{
          padding-left: 0;
          .generic-description{
            margin-right: 0;
          }
        }
        .generic-label {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
  
      .updated-map {
        width: 100%;
        max-width: 477px;
        height: auto;
        padding: 0 20px;
        box-sizing: border-box;
      }
    }
  }
  
  @media screen and (max-width: 900px) {
    .updated-section{
      .left-column{
        .updated-map{
          width: 315px;
        }
      }
      .right-column{
        .generic-heading{
          font-size: 29px;
        }
        .generic-label{
          font-size: 15px;
        }
      }
    }
  } 
  @media screen and (max-width: 786px) {
    .updated-section {
      padding: 80px 35px;
      .left-column{
        .updated-map{
          width: 293px;
        }
      }
    }
  }
  @media screen and (max-width: 786px) {
    .updated-section {
      padding: 80px 20px;
      .right-column{
        .generic-description{
          font-size: 16.6px;
        }
      }
    }
  }
    