
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box; 
}
.footer-container {
    max-width: 1395px;
    margin: 0 auto;
    padding: 0 40px;
}
.make {
    width: 100%;
    background-color: #221C54;
    color: #FFFFFF;
    padding: 75px 0;
    .make-you {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
               font-size: 27px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: -0.045rem;
    margin-bottom: 18px;
        }
        p {
           font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
        }
    }
    .btn-make {
        display: flex;
        padding: 12px 19px;
        background-color: #E37645;
        border-radius: 20px;
        gap: 10px;
        transition: all 0.17s;
        box-shadow: 2px 4px 0px rgba(227, 118, 69, 0.3);
        border: none;
        cursor: pointer;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        transition: all .3s ease-in-out;
        &:hover {
            transform: translate(0px, 3px);
            box-shadow: unset;
        }
    }
}
footer {
    background-color: #EEDFC5;
    padding: 50px 0;
    .foot-box {
        display: flex;
        justify-content: space-around;
        .quick-links {
            display: flex;
            gap: 20px;
            width: calc(33.33% - 0px);
            justify-content: flex-end;
        }
    }
    .text ul {
        list-style: none;
        padding-left: 0;
            margin-bottom: 0;
        li {
            padding: 3px 0;
            a {
                 font-family: 'mark_promedium';
                padding-right: 38px;
                text-decoration: none;
                color: #221C54;
                font-size: 16px;
                font-weight: 500;
                display: inline-block;
                text-transform: capitalize;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #221C54;
                }
            }
        }
    }
    .mui-box {
       
        width: calc(33.33% - 0px);
.epil{
 max-width: 141px;
     margin: 0 auto;
}
        .logo-box {
            max-width: 105px;
            height: 24px;
            margin:0 auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .epil {
        p {
            font-family: "Roboto", sans-serif;
            font-size: 11px;
            font-weight: 700;
            color: #221C54;
            text-align: center;
                letter-spacing: 0.3px;
        }
        .media {
            display: flex;
            justify-content: space-around;
         padding: 16px 0 25px;
            .logo {
                width: 20.5px;
                height: 20.5px;
                    cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .mail{
width: calc(33.33% - 0px);
    }
    .mail-box{

max-width: 370px;
    }
      p {
         font-family: 'freighttextprfreighttextproBk';
            font-size: 18px;
            font-weight: 400;
            color: #221C54;
            margin-bottom: 15px;
            line-height: 1.35;
        }
    .signup-wrapper {
        background-color: white;
        border-radius: 50px;
        max-width: 355px;
            padding: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        border: 1px solid transparent;
        &:hover {
            border: 1px solid #221C54;
        }
        &:has(.signup-btn:hover) {
            border-color: transparent;
        }
        .email-input {
            border: none;
            padding: 12px 20px;
            border-radius: 50px;
            outline: none;
            font-size: 16px;
            color: #666;
            background-color: transparent;
            width: 250px;
        }
        .signup-btn {
            background-color: #1D174D;
            color: white;
            min-width: fit-content;
            border: none;
            padding: 10px 13px;
            border-radius: 50px;
            font-weight: 500;
            cursor: pointer;
            box-shadow: 2px 4px 0px rgba(34, 28, 84, 0.5);
            transition: all 0.3s ease-in-out;
            transform: translate(0px, -3px);
            &:hover {
                transform: translate(0px, 0px);
                box-shadow: unset;
            }
        }
    }
}
.footer-two {
    background-color: #DDC59C;
    padding: 17px 0;
    .footer-box {
        display: flex;
        align-items: center;
        justify-content: center;
        P {
          font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: #221C54;
            margin-bottom: 0px;
        }
    }
}
/* footer end */
@media (max-width:1050px) {
    footer {
        padding: 59px 10px;
  .signup-wrapper{
    gap: 0;
  }
    .foot-box {
        flex-direction: column;
        align-items: center;
        .quick-links {
        margin-bottom: 20px;
        width: 100%;
         justify-content: center;
    }
    }
   
    .mui-box {
        margin-bottom: 25px;
           width: 100%;
         justify-content: center;
    }
    .mail{
       width: 100%;
         
    }
    .mail-box {
               width: 100%;
        margin-bottom: 50px;
        max-width: 600px;
        text-align: center;
               margin: auto;
    }
    .signup-wrapper {
      justify-content: space-between;
        max-width: unset;
    }
  }
}
@media screen and (max-width:600px) {
.make-you p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 45px;
    text-align: center;
    padding: 0 10px;
}
    footer {
        padding: 63px 10px;
        .signup-wrapper {
            justify-content: space-between;
            flex-direction: column;
            background: unset;
            background-color: transparent;
            &:hover{
                outline: 0;
                border: none;
            }
            .signup-btn {
                margin-left: unset;
            }
            .email-input {
                width: 100%;
                background: white;
                margin-bottom: 15px;
                border: 1px solid #221C54;
            }
        }
     }
    footer.container {
        padding: 10px;
    }
   
    .mail-box p {
        text-align: center;
        font-size: 16px;
    }
    .footer-box P {
        text-align: center;
        max-width: 420px;
    }
}