
* {
    margin: 0;
    padding: 0;
}
p, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
.mission-section {
    padding: 96px 60px;
    background-color: #ffffff;
    .custome-container{
        max-width: 1100px;
        margin: 0 auto;
    }
    .mission-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .generic-label{
            line-height: 22px;
        }
        .generic-description{
            margin-right: -1px;
        }
        .text-container{
            margin-bottom: 3px;
        }
    }
    .left-column{
        padding-right: 32px;
    }
    .left-column,
    .right-column{
        width: 50%;
    }
    .mission-map {
        height: 325px;
        width: 100%;
        img {
            
            width: 100%;
            height: 100%;
        }
    }
}


@media screen and (max-width: 1050px) {
    .mission-container{
        flex-direction: column-reverse;
        .right-column,
        .left-column{
            width: 100%;
            max-width: 650px;
            margin: 0 auto;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .right-column{
            margin-bottom: 48px;
        }
        .generic-label{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
@media screen and (max-width: 786px) {
    .mission-section{
        padding: 96px 32px;
    }
}