.support-section {
    padding: 96px 60px;
    background-color: #FAF5EC;
    .custome-container{
        max-width: 1100px;
        margin: 0 auto;
        .support-container{
            max-width: 500px;
            margin: auto;
            text-align: center;
            .support-header{
                .image-container{
                    margin: 16px 0 23px;
                    width: 100%;
                    max-width: 495px;
                    margin-left: 2px;
                    max-height: 122px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .content-column{
                margin-bottom: 5px;
                .generic-heading{
                    margin-bottom: 16px;
                }
                .generic-description{
                    margin: 0 auto;
                    line-height: 24px;
                }
            }
            .btn--link{
                margin: 26px 0 0 5px;
                .arrow{
                    position: relative;
                    top: 0px;
                }
            }
        }
    }
    .label {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 22px;
    }
}    